body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right,
      #F6D6A8 0%,
      #F6D6A8 50%,
      #327AB2 50%,
      #327AB2 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.video {
  overflow: hidden;
  border: 2px solid beige;
  border-radius: 9px;
  /* align-self: center;
  position: absolute;
  top: 0;
  left: 0; */
  width: 40%;
  height: 100%;
}

/* @media (min-width: 668px) and (max-width: 1024px) {
  .video {
    width: 50%;
    height: 50%;
  }
}

@media (min-width: 1025px) {
  .video {
    width: 60%;
    height: 60%;
  }
} */